body {font-family: "Lato", sans-serif;}

h1,h2,h3,h4,h5,h6 {font-family: "Alegraya", Serif;}

/* Remove the navbar's default rounded borders and increase the bottom margin */ 
.navbar {
  border-radius: 0;
}

.top-margin {
	margin-top:50px;
}

.padded {
	padding: 25px;
}

.bg2 {
	background-color: #DADBD6;
}

.bg1 {
	background-color: #f1f2ec;
}

.center {
	text-align: center;	
}

.rounded-corners {
	border-radius: 5%;
}
/* Remove the jumbotron's default bottom margin */ 
 .jumbotron {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #fc4349;
  color: #f1f2ec;
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #fc4349;
  color: #f1f2ec;
  padding: 25px;
}